a {
  color: rgb(0, 0, 238);;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

section > div {
  background: black;
  padding-top: 100%;
}
